<html>
    <head>
        <title>Cat Dad Recipes | {{title}}</title>
    </head>
    <body>
        {{{body}}}
        <script src="/app.js" charset="utf-8"></script>
        <script src="/vendor.js" charset="utf-8"></script>
    </body>
</html>